:root {
    --bg-gradient: linear-gradient(to bottom right, #2e2e2e, #000000);
    --nav-gradient: linear-gradient(to right, #1C1C1C, #191970);
    --btn-gradient: linear-gradient(to right, var(--main-color), var(--sec-color));
    --background: #2e2e2e;
    --main-color: #ffd700;
    --sec-color: #cd7f32;
    --text-color: #FAFAFA;
}
/* Preloader Styles */
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--background); /* Dark background */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    transition: opacity 0.6s ease-out;
}

/* Hide preloader when page loads */
.preloader.hide {
    opacity: 0;
    pointer-events: none;
}

/* Music Wave Animation */
.wave-container {
    display: flex;
    gap: 5px;
}

.wave {
    width: 8px;
    height: 40px;
    background: var(--main-color);
    border-radius: 5px;
    animation: waveAnimation 1.5s infinite ease-in-out;
}

/* Adding different delays to create a wave effect */
.wave:nth-child(1) { animation-delay: 0s; }
.wave:nth-child(2) { animation-delay: 0.2s; }
.wave:nth-child(3) { animation-delay: 0.4s; }
.wave:nth-child(4) { animation-delay: 0.6s; }
.wave:nth-child(5) { animation-delay: 0.8s; }
.wave:nth-child(6) { animation-delay: 1s; }
.wave:nth-child(7) { animation-delay: 1.2s; }

@keyframes waveAnimation {
    0%, 100% { height: 20px; }
    50% { height: 50px; }
}

/* Preloader Text */
.preloader-text {
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family:sans-serif;
}

body {
    background: var(--bg-gradient);
    background-attachment: fixed;
    /* font-family: "Montserrat", sans-serif; */
    -webkit-font-smoothing: antialiased;
}

span{
    display: inline-block;
}

svg{
    width: 26px;
    height: 26px;
}

/* =================================================================
    STYLING FOR THE FIRST SECTION
================================================================*/

.hero {
    padding: 20px;
}

.hero-content {
    text-align: center;
}

.hero-content h2{
    color: var(--main-color);
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-image-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.hero-image .gif-image {
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: relative;
}

.fly {
    animation: flyUpDown 0.6s ease-in-out infinite alternate;
}

@keyframes flyUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}

.hero-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #D1D5DB;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-buttons a {
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    margin-left: 0 ;
}

.download {
    color: #0D1117;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    transition: all 0.3s ease-in-out;
}

.download:hover {
    color: var(--main-color);
    background-color: transparent;
}

.trial {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.trial:hover {
    background: var(--main-color);
    color: #0D1117;
}

/* =================================================================
    STYLING FOR THE SECOND SECTION
================================================================*/

.unlimited-access {
    padding: 40px 20px;
    background-color: #FFFFFF;
}

.container {
    width: 100%;
}

.text-left {
    text-align: center;
    margin-bottom: 20px;
}

.text-left h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #0a183d;
    font-family: "Montserrat", sans-serif;
}

.text-right {
    width: 100%;
    text-align: justify;
}

.text-right p {
    font-size: 1rem;
    color: #6B7280;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-container {
    margin-top: 10px;
}

.cta-btn {
    background: #0a183d;
    color: white;
    padding: 23px 20px;
    border: none;
    min-width: 195px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cta-btn:hover {
    border-radius: 50px;
}

/* =================================================================
    STYLING FOR THE THIRD SECTION
================================================================*/

.how-it-works {
    background-image: url('./images/how-to-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    padding: 40px 20px;
}

.how-it-works h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.steps {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.icon {
     background: var(--btn-gradient);
    position: relative;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.icon img {
    position: absolute;
    right: -8px;
    bottom: 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 10px; */
}

.step p {
    font-size: 16px;
    color: #B0B0B0;
    text-align: left;
    font-weight: 400;
    line-height: 1.8;
    opacity: 0.6;
}

/* =================================================================
    STYLING FOR THE FOURTH SECTION
================================================================*/

.concept-artists {
    padding: 40px 20px;
    background-color: #ffffff;
}

.concept-content {
    text-align: center;
    margin-bottom: 40px;
}

.text-left2 h2 {
    margin-left: 5%;
    font-size: 60px;
    color: #08152E;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 10px;
}

.text-right2 {
    display: none;
}

.concept-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    text-align: center;
}

.concept-item {
    background: #f9f9f9;
    border-radius: 20px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

.concept-item img {
    width: 100%;
    border-radius: 40px;
}

.concept-item h3 {
    margin-top: 15px;
    font-size: 18px;
    color: #08152E;
}

.concept-item:hover {
    transform: translateY(-5px);
}

/* =================================================================
    STYLING FOR THE FIFTH SECTION
================================================================*/

.premium-section {
    padding: 40px 20px;
    background: var(--bg-gradient);
}

.premium-content {
    text-align: center;
    margin-bottom: 40px;
}

.text-left3 h2 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

.text-right3 {
    color: #6c757d;
    font-size: 16px;
    line-height: 1.6;
}

.premium-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    text-align: center;
}

.premium-item {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

.premium-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.premium-item h3 {
    font-size: 18px;
    color: #08152E;
    margin-bottom: 5px;
}

.premium-item p {
    font-size: 14px;
    color: #6c757d;
}

.premium-item:hover {
    transform: translateY(-5px);
}

/* =================================================================
    STYLING FOR THE FOOTER
================================================================*/

.footer {
    border-top: 1px solid var(--sec-color);
    padding: 1px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    background: var(--background);
    margin: auto;
    padding: 20px;
}

.footer-logo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-logo span {
    color: var(--main-color);
}

.footer-left p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-left a {
    color: #007bff;
    text-decoration: none;
}

.footer-social {
    margin-top: 15px;
}

.footer-social a {
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.3s;
}

.footer-social a:hover {
    color: #ff3d71;
}


/* =================================================================
    MEDIA QUERIES
================================================================*/

@media screen and (min-width: 628px) {
    .concept-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .premium-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {

    .footer-left {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px){
    .hero{
        padding: 80px;
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .hero-content{
        width: 50%;
        text-align: left;
    }

    .hero-buttons{
        justify-content: flex-start;
    }

    .unlimited-access{
        padding: 80px 30px;
    }

    .text-left{
        text-align: left;
    }

    .container{
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .steps{
        display: flex;
        flex-direction: row;
        gap: 3%;
    }

    .concept-content{
        display: flex;
        justify-content: center;
    }

    .text-right2{
        display: block;
        width: 50%;
    }
    
    .text-right2 p{
        color: var(--background);
    }

    .concept-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .premium-content{
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .text-right3{
        width: 50%;
    }

    .premium-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}