:root{
    --background-color: #2e2e2e;
    --color: #cd7f32;
    --text-color: white;
    --secondary-color: #FFD700;
    --h5-size: 18px;
    --text-size: 15px;
    --major-spacing: 20px;
    --minor-spacing: 10px;
    --songImg-size: 200px;
}

#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--background-color);
    z-index: 10000;
}

#loader.closed{
    display: none;
}

.dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  animation: dotBounce 1.2s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

section{
    padding: 20px;
    background-color: var(--background-color);
}

#top-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#top-part h1{
    font-size: 24px;
}

#top-part h2{
    font-size: 21px;
}

#top-part select{
    width: fit-content;
    padding: 10px 20px;
    background-color: #3a3a3a;
    outline: none;
    border-radius: 5px;
}

#top-part option:hover{
    background-color: var(--color);
}

#main-part-container{
    margin: 20px 0;
}

#main-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
}

.recommended-track{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #3a3a3a;
    padding: 10px;
    border-radius: 5px;
}

.recommended-track-img-container{
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 5px;
}

.recommended-track-img-container img{
    width: 100%;
}

.recommended-track-details{
    padding-block: 10px;
}

@media screen and (min-width: 768px){
    #main-part{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px){
    #main-part{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1280px){
    #main-part{
        grid-template-columns: repeat(5, 1fr);
    }
}