:root{
    --background-color: #2e2e2e;
    --color: #cd7f32;
    --text-color: white;
    --secondary-color: #FFD700;
    --h5-size: 18px;
    --text-size: 15px;
    --major-spacing: 20px;
    --minor-spacing: 10px;
    --songImg-size: 200px;
}

#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--background-color);
    z-index: 10000;
}

#loader.closed{
    display: none;
}

.dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  animation: dotBounce 1.2s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

section{
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--major-spacing);
}

#minor-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--major-spacing);
}

.playlist-img{
  width: var(--songImg-size);
  height: var(--songImg-size);
  margin-bottom: var(--minor-spacing);
  overflow: hidden;
}

.playlist-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.other-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--major-spacing);
}

.other-content h5{
  font-size: var(--h5-size);
  color: var(--color);
  margin-bottom: var(--minor-spacing);
}

#playlist-name{
  font-size: 22px;
}

#major-details{
  padding: 10px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table th, table td{
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--color);
}

table th:nth-child(1), table td:nth-child(1){
  text-align: left;
}

table th:nth-child(2), table td:nth-child(2){
  text-align: center;
}

table th:nth-child(3), table td:nth-child(3){
  text-align: right;
}

table td:nth-child(1){
  display: flex;
  align-items: center;
  gap: 10px;
}

table th{
  background-color: var(--color);
  color: var(--text-color);
}

table tr:nth-child(even){
  background-color: #3a3a3a;
}

table tbody tr:hover{
  background-color: #555;
}

.track-img{
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.track-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button button{
  padding: 10px 15px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: #3a3a3a solid 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#button button:hover{
  background-color: #3a3a3a;
}